<html>
  <form action="/createstory" method="POST">
    <h1>Create a story</h1>
    <label>Title&nbsp;</label>
    <input type="text" name="title" placeholder="Enter title here..." style="height:3%; width:80%" minlength="1" maxlength="50" required> <br><br><br><br>
    <label style="font-size:20px;">Story</label>
    <br>
    <textarea name="story" rows="20" cols="50" minlength="1" maxlength="1000" placeholder="Enter story here..." spellcheck="true" required></textarea> <!-- style allows you to modify the text box -->
    <br><input type="submit" value="Create story">
  </form>
  <form action="/">
    <input type="submit" value="Back to home page">
  </form>
</html>
